<h2>Cadastro de Disciplinas</h2>

<form (ngSubmit)="adicionarDisciplina()" 
        #form="ngForm" style="margin-bottom: 20px;">

    <div>
        <label>Codigo:</label>
        <input type="number" 
            [(ngModel)]="novaDisciplina.codigo"
            name="codigo" required />
    </div>
    <div>
        <label>Descrição:</label>
        <input type="text" 
            [(ngModel)]="novaDisciplina.descricao"
            name="nome" required />
    </div>
    <div>
        <label>Ementa:</label>
        <input type="text" 
            [(ngModel)]="novaDisciplina.ementa"
            name="ementa" required />
    </div>
    <div>
        <label>Professor:</label>
        <select [(ngModel)]="novaDisciplina.professor.nome" name="professor" required>
            <option value="">Selecione...</option>
            <option *ngFor="let prof of listaProfessores" [value]="prof.nome">
                {{ prof.nome }}
            </option>
        </select>
    </div>

    <button type="submit" [disabled]="form.invalid">Cadastrar</button>

</form>

<h3>Disciplinas Cadastradas</h3>

<table [cellPadding]="5" style="border-collapse: collapse;
                                border: 1px solid black;">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Ementa</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let disciplina of listaDisciplinas">
            <td>{{ disciplina.codigo }}</td>
            <td>{{ disciplina.descricao }}</td>
            <td>{{ disciplina.ementa }}</td>
            <td>{{ disciplina.professor.nome }}</td>
        </tr>
    </tbody>
</table>

<h3>Disciplinas/Professor</h3>
<div *ngFor="let professor of listaProfessores" style="margin-bottom: 20px;">
    <h4>{{ professor.nome }}</h4>

    <ul>
        <li *ngFor="let disciplinas of getDisciplinasDoProfessor(professor)">
            {{ disciplinas.descricao }} ({{ disciplinas.ementa }})
        </li>
    </ul>

    <p *ngIf="getDisciplinasDoProfessor(professor).length === 0">
        Nenhuma disciplina cadastrada
    </p>
</div>

<button (click)="cadAluno()">Ir para Alunos</button>
<button (click)="cadProfessor()">Ir para Professores</button>